<script>
  const year = new Date().getFullYear()
</script>
<div class="Footer">
  <div class="Footer-container">
    <div class="Footer-copy">
      © Copyright {year} Ensarman ;)
    </div>
  </div>
</div>

<style>
  .Footer {
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: normal;
    color: #c7c7c7;
  }
</style>