<script>
	import Loading from './Loading.svelte';
  import Card from "./Card.svelte"
  export let posts = false;
</script>

<div class="Timeline">
  <div class="Timeline-container">
    {#each posts as post}
    <Card {...post}/>
    {:else}
    <Loading />
    {/each}
  </div>
</div>


<style>
  .Timeline {
    padding: 4em 0 0 0;
  }
</style>
